@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var siteName = siteSettings?.SiteName ?? "No site name";
}

<footer class="content-grid bgc-dark py-sm">
    <p>&copy; @siteName. All Rights Reserved. Credits to <span class="clr-secondary">Themesflat</span></p>
</footer>
