/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    color-scheme: light dark;
    hanging-punctuation: first last;
}

body {
    min-height: 100svh;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

svg {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

:has(:target) {
    scroll-padding-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}

/* Variables */
:root {
    /* Colors */
    --clr-primary-100: #4F5955;
    --clr-primary-200: #535656;
    --clr-secondary: #D9C3A9;
    --clr-accent: #F2EDDC;
    --clr-white-100: #FFFFFF;
    --clr-white-200: #F7F7F7;
    --clr-dark: #0E0E0E;
    --clr-gray-100: #EBEBEB;
    --clr-gray-200: #9C9EA6;
    --clr-gray-300: #606966;

    --clr-background: var(--clr-white-100);
    --clr-body: var(--clr-primary-200);
    --clr-heading: var(--clr-primary-100);
    --clr-logo: var(--clr-primary-100);
    --clr-border: var(--clr-gray-100);
    --clr-border-light: var(--clr-gray-300);

    /* Typography */
    --ff-primary: 'Poppins', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-xs: clamp(0.75rem, 0.5vw + 0.65rem, 0.875rem);
    --fs-sm: clamp(0.875rem, 0.5vw + 0.775rem, 1rem);
    --fs-body: clamp(1rem, 0.4vw + 0.9rem, 1.125rem);
    --fs-h6: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
    --fs-h5: clamp(1.25rem, 0.6vw + 1.1rem, 1.375rem);
    --fs-h4: clamp(1.375rem, 0.8vw + 1.2rem, 1.5rem);
    --fs-h3: clamp(1.5rem, 1vw + 1.25rem, 1.875rem);
    --fs-h2: clamp(2rem, 1.2vw + 1.5rem, 2.5rem);
    --fs-h1: clamp(2.5rem, 2vw + 1.5rem, 4.375rem);
    --fs-display: clamp(4.375rem, 3vw + 2.5rem, 6.25rem);

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 6rem;
    --space-2xl: 10.7rem;
    --space-3xl: 17rem;

    /* Breakpoints */
    --tablet: 768px;
    --desktop: 1200px;

    /* Layout */
    --content-max-width: 1160px;
}

/* Utility classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.hidden-mobile {
    @media (max-width: var(--tablet)) {
        display: none;
    }
}

.hidden-desktop {
    @media (min-width: var(--desktop)) {
        display: none;
    }
}

.mw-half {
    max-width: calc(var(--content-max-width) / 2);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left {
    left: 0;
}

.center-text {
    text-align: center;
}

.grid {
    display: grid;
}

.col-3-center {
    grid-template-columns: 1fr auto 1fr;
}

.flex {
    display: flex;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }

.col {
    flex-direction: column;
}

.col-to-row {
    flex-direction: column;

    @media (min-width: var(--tablet)) {
        flex-direction: row;
    }
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-start {
    justify-items: flex-start;
}

.justify-self-center {
    justify-self: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.mi-auto { margin-inline: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.gap-xs { gap: var(--space-xs); }
.gap-sm { gap: var(--space-sm); }
.gap-md { gap: var(--space-md); }
.gap-lg { gap: var(--space-lg); }
.gap-xl { gap: var(--space-xl); }

.p-xs { padding: var(--space-xs); }
.p-sm { padding: var(--space-sm); }
.p-md { padding: var(--space-md); }
.p-lg { padding: var(--space-lg); }
.p-xl { padding: var(--space-xl); }

.py-xs { padding-block: var(--space-xs); }
.py-sm { padding-block: var(--space-sm); }
.py-md { padding-block: var(--space-md); }
.py-lg { padding-block: var(--space-lg); }
.py-xl { padding-block: var(--space-xl); }

.pt-xs { padding-top: var(--space-xs); }
.pt-sm { padding-top: var(--space-sm); }
.pt-md { padding-top: var(--space-md); }
.pt-lg { padding-top: var(--space-lg); }
.pt-xl { padding-top: var(--space-xl); }

.pb-xs { padding-bottom: var(--space-xs); }
.pb-sm { padding-bottom: var(--space-sm); }
.pb-md { padding-bottom: var(--space-md); }
.pb-lg { padding-bottom: var(--space-lg); }
.pb-xl { padding-bottom: var(--space-xl); }
.pb-2xl { padding-bottom: var(--space-2xl); }
.pb-3xl { padding-bottom: var(--space-3xl); }

.pl-xs { padding-left: var(--space-xs); }
.pl-sm { padding-left: var(--space-sm); }
.pl-sm-md { padding-left: calc(var(--space-md) - 0.375rem); }
.pl-md { padding-left: var(--space-md); }
.pl-lg { padding-left: var(--space-lg); }
.pl-xl { padding-left: var(--space-xl); }

.mt-xs { margin-top: var(--space-xs); }
.mt-sm { margin-top: var(--space-sm); }
.mt-md { margin-top: var(--space-md); }
.mt-lg { margin-top: var(--space-lg); }
.mt-xl { margin-top: var(--space-xl); }

.bgc-primary { background-color: var(--clr-primary-100); }
.bgc-secondary { background-color: var(--clr-secondary); }
.bgc-accent { background-color: var(--clr-accent); }
.bgc-light { background-color: var(--clr-white-200); }
.bgc-dark { background-color: var(--clr-dark); }

.clr-primary { color: var(--clr-primary-100); }
.clr-secondary { color: var(--clr-secondary); }
.clr-accent { color: var(--clr-accent); }
.clr-light { color: var(--clr-white-100); }
.clr-dark { color: var(--clr-dark); }

.effect-primary, .effect-secondary, .effect-accent, .effect-light, .effect-dark { transition: all 200ms ease-in; }
.effect-primary:hover, .effect-primary:focus-visible { color: var(--clr-primary-100); }
.effect-secondary:hover, .effect-secondary:focus-visible { color: var(--clr-secondary); }
.effect-accent:hover, .effect-accent:focus-visible { color: var(--clr-accent); }
.effect-light:hover, .effect-light:focus-visible { color: var(--clr-white-100); }
.effect-dark:hover, .effect-dark:focus-visible { color: var(--clr-dark); }

.text-semi-bold { font-weight: var(--fw-semi-bold); }
.text-bold { font-weight: var(--fw-bold); }

.text-xs { font-size: var(--fs-xs); }
.text-sm { font-size: var(--fs-sm); }
.text-lg { font-size: var(--fs-h6); }
.text-display { font-size: var(--fs-display); }

.uppercase { text-transform: uppercase; }
.italic { font-style: italic; }

.shadow { box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1); z-index: 1; }

.icon-border {
    &:first-of-type {
        border-left: 1px solid var(--clr-border-light);
    }

    border-right: 1px solid var(--clr-border-light);
}

/* General styling */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-style: normal;
    color: var(--clr-body);
    background-color: var(--clr-background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    color: var(--clr-heading);
}

.primary-heading {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.secondary-heading {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.tertiary-heading {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.quaternary-heading {
    font-size: var(--fs-h4);
    font-weight: var(--fw-semi-bold);
}

.quinary-heading {
    font-size: var(--fs-h5);
    font-weight: var(--fw-semi-bold);
}

.senary-heading {
    font-size: var(--fs-h6);
    font-weight: var(--fw-semi-bold);
}

/* Structure & Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-grid, .full-width, .umb-block-list {
    --max-width: var(--content-max-width);
    --padding-inline: 3.125%;

    display: grid;
    grid-template-columns: [full-width-start] 1fr [content-start] min(var(--max-width), 100% - var(--padding-inline) * 2) [content-end] 1fr [full-width-end];

    > * {
        grid-column: content;
    }

    .full-width {
        grid-column: full-width;
    }
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    gap: 1.875rem;
}

/* Components */
.current a, .active { color: var(--clr-secondary); }

.btn {
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    border-radius: 0.17em;
    padding: 0.83em 2.22em;
}

.btn.primary {
    background-color: var(--clr-primary-100);
    color: var(--clr-accent);
    transition: all 200ms ease-in;

    &:hover, &:focus-visible {
        background-color: var(--clr-border-light);
    }
}

.btn.accent {
    background-color: var(--clr-accent);
    color: var(--clr-primary-100);
    transition: all 200ms ease-in;

    &:hover, &:focus-visible {
        background-color: var(--clr-secondary);
    }
}

.callback {
    position: absolute;
    right: 0;
    top: -80px;
}

.card {
    max-width: 470px;
    text-align: left;
    background-color: var(--clr-white-100);
    padding-bottom: 1.875rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    
    > :not(:first-child, img) {
        padding-inline: 1.875rem;
        margin-top: 1.875rem;
    }

    > :first-child {
        padding: 1.875rem;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;

    input, select {
        border: 1px solid var(--clr-border);
        padding: 1rem 1.375rem;
        font-size: var(--fs-xs);
        width: 100%;
    }

    input, input::placeholder {
        color: var(--clr-gray-200);
        font-style: italic;
    }
}

.image-popout {
    position: absolute;
    bottom: -174px;
    left: 50%;
    transform: translateX(-50%);
}

main:has(.image-popout) + footer {
    margin-top: 260px !important;
}

section:has(.image-popout) + section {
    padding-top: 260px !important;
}

main + footer.reset-margin {
    margin-top: 0 !important;
}
