/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    color-scheme: light dark;
    hanging-punctuation: first last;
}

body {
    min-height: 100svh;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

svg {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    text-wrap: balance;
}

p {
    text-wrap: pretty;

    @media (min-width: 768px) {
        max-width: 75ch;
    }
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

:has(:target) {
    scroll-padding-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}

/* Variables */
:root {
    /* Colors */
    --clr-primary-100: #4F5955;
    --clr-primary-200: #535656;
    --clr-secondary: #D9C3A9;
    --clr-accent: #F2EDDC;
    --clr-white-100: #FFFFFF;
    --clr-white-200: #F7F7F7;
    --clr-dark: #0E0E0E;
    --clr-gray-100: #EBEBEB;
    --clr-gray-200: #C4C4C4;
    --clr-gray-300: #9C9EA6;
    --clr-gray-400: #606966;

    --clr-background: var(--clr-white-100);
    --clr-body: var(--clr-primary-200);
    --clr-heading: var(--clr-primary-100);
    --clr-logo: var(--clr-primary-100);
    --clr-border: var(--clr-gray-100);
    --clr-border-light: var(--clr-gray-400);

    /* Typography */
    --ff-primary: 'Poppins', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-xs: clamp(0.75rem, 0.5vw + 0.65rem, 0.875rem);
    --fs-sm: clamp(0.875rem, 0.5vw + 0.775rem, 1rem);
    --fs-body: clamp(1rem, 0.4vw + 0.9rem, 1.125rem);
    --fs-h6: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
    --fs-h5: clamp(1.25rem, 0.6vw + 1.1rem, 1.375rem);
    --fs-h4: clamp(1.375rem, 0.8vw + 1.2rem, 1.5625rem);
    --fs-h3: clamp(1.5625rem, 1vw + 1.25rem, 1.875rem);
    --fs-h2: clamp(2rem, 1.2vw + 1.5rem, 2.5rem);
    --fs-h1: clamp(2.5rem, 2vw + 1.5rem, 4.375rem);
    --fs-display: clamp(4.375rem, 3vw + 2.5rem, 6.25rem);

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 6rem;
    --space-2xl: 10.7rem;
    --space-3xl: 17rem;

    /* Breakpoints */
    --tablet: 768px;
    --desktop: 992px;

    /* Layout */
    --content-max-width: 1160px;
}

/* Utility classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.hidden-mobile {
    @media (max-width: 767px) {
        display: none;
    }
}

.hidden-mobile-tablet {
    @media (max-width: 991px) {
        display: none;
    }
}

.hidden-desktop {
    @media (min-width: 992px) {
        display: none;
    }
}

.mw-half { max-width: calc(var(--content-max-width) / 2); }
.max-w-40 {
    max-width: 40%;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.max-w-45 {
    max-width: 45%;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.max-w-50 {
    max-width: 50%;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.max-w-55 {
    max-width: 55%;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.max-w-60 {
    max-width: 60%;

    @media (max-width: 767px) {
        max-width: 100%;
    }
}

.w-50-mobile {
    @media (max-width: 767px) {
        width: 50%;
    }
}
.w-75-mobile {
    @media (max-width: 767px) {
        width: 75%;
    }
}
.w-100 { width: 100%; }
.h-100 { height: 100%; }

.cover { object-fit: cover; }

.relative { position: relative; }
.relative-desktop {
    @media (min-width: 992px) {
        position: relative;
    }
}
.absolute { position: absolute; }
.absolute-mobile-tablet-desktop {
    @media (max-width: 1199px) {
        position: absolute;
    }
}
.absolute-tablet-desktop {
    @media (min-width: 768px) {
        position: absolute;
    }
}
.absolute-large {
    @media (min-width: 1200px) {
        position: absolute;
    }
}

.absolute-center-x { left: 50%; transform: translateX(-50%); }
.absolute-center-y { top: 50%; transform: translateY(-50%); }

.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
.-top-sm { top: -80px; }
.-bottom-md { bottom: -117px; }
.-bottom-lg { bottom: -174px; }
.right-xs { right: 20px; }

.center-text { text-align: center; }
.center-text-mobile {
    @media (max-width: 767px) {
        text-align: center;
    }
}

.block { display: block; }
.grid { display: grid; }
.flex { display: flex; }

.flex-1-desktop {
    @media (min-width: 992px) {
        flex: 1;
    }
}
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-14 { flex: 14; }

.flex-wrap { flex-wrap: wrap; }

.col { flex-direction: column; }

.col-mobile {
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.col-mobile-tablet {
    flex-direction: column;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.col-reverse-mobile-tablet {
    flex-direction: column-reverse;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.col-to-row {
    flex-direction: column;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.align-center {
    align-items: center;
}

.align-center-tablet-desktop {
    @media (min-width: 768px) {
        align-items: center;
    }
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-center-mobile {
    @media (max-width: 767px) {
        justify-content: center;
    }
}

.justify-items-center {
    justify-items: center;
}

.justify-start {
    justify-items: flex-start;

    @media (max-width: 767px) {
        justify-items: center;
    }
}

.justify-self-center {
    justify-self: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.mi-auto { margin-inline: auto; }
.mi-auto-mobile {
    @media (max-width: 767px) {
        margin-inline: auto;
    }
}
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.gap-xs { gap: var(--space-xs); }
.gap-sm { gap: var(--space-sm); }
.gap-sm-md { gap: 3rem; }
.gap-md { gap: var(--space-md); }
.gap-lg { gap: var(--space-lg); }
.gap-xl { gap: var(--space-xl); }

.p-xs { padding: var(--space-xs); }
.p-sm { padding: var(--space-sm); }
.p-md { padding: var(--space-md); }
.p-lg { padding: var(--space-lg); }
.p-xl { padding: var(--space-xl); }

.py-xs { padding-block: var(--space-xs); }
.py-sm { padding-block: var(--space-sm); }
.py-sm-md { padding-block: calc(var(--space-md) - 0.375rem); }
.py-md { padding-block: var(--space-md); }
.py-lg { padding-block: var(--space-lg); }
.py-xl { padding-block: var(--space-xl); }

.px-xs { padding-inline: var(--space-xs); }
.px-sm { padding-inline: var(--space-sm); }
.px-md { padding-inline: var(--space-md); }
.px-lg { padding-inline: var(--space-lg); }
.px-xl { padding-inline: var(--space-xl); }

.pt-xs { padding-top: var(--space-xs); }
.pt-sm { padding-top: var(--space-sm); }
.pt-md { padding-top: var(--space-md); }
.pt-lg { padding-top: var(--space-lg); }
.pt-xl { padding-top: var(--space-xl); }

.pb-xs { padding-bottom: var(--space-xs); }
.pb-sm { padding-bottom: var(--space-sm); }
.pb-md { padding-bottom: var(--space-md); }
.pb-lg { padding-bottom: var(--space-lg); }
.pb-xl { padding-bottom: var(--space-xl); }
.pb-2xl { padding-bottom: var(--space-2xl); }
.pb-3xl { padding-bottom: var(--space-3xl); }

.pl-xs { padding-left: var(--space-xs); }
.pl-sm { padding-left: var(--space-sm); }
.pl-sm-md { padding-left: calc(var(--space-md) - 0.375rem); }
.pl-md { padding-left: var(--space-md); }
.pl-lg { padding-left: var(--space-lg); }
.pl-xl { padding-left: var(--space-xl); }

.pr-xs { padding-right: var(--space-xs); }
.pr-sm { padding-right: var(--space-sm); }
.pr-sm-md { padding-right: calc(var(--space-md) - 0.375rem); }
.pr-md { padding-right: var(--space-md); }
.pr-lg { padding-right: var(--space-lg); }
.pr-xl { padding-right: var(--space-xl); }


.p-reset-small {
    @media (max-width: 575px) {
        padding: 0;
    }
}
.p-reset-large {
    @media (min-width: 1200px) {
        padding: 0;
    }
}
.pi-reset-mobile {
    @media (max-width: 767px) {
        padding-inline: 0;
    }
}
.pb-reset-tablet-desktop {
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.mt-2xs { margin-top: 0.25rem; }
.mt-xs { margin-top: var(--space-xs); }
.mt-sm { margin-top: var(--space-sm); }
.mt-md { margin-top: var(--space-md); }
.mt-lg { margin-top: var(--space-lg); }
.mt-xl { margin-top: var(--space-xl); }

.mb-xs { margin-bottom: var(--space-xs); }
.mb-sm { margin-bottom: var(--space-sm); }
.mb-md { margin-bottom: var(--space-md); }
.mb-lg { margin-bottom: var(--space-lg); }
.mb-xl { margin-bottom: var(--space-xl); }

.ml-2xs { margin-left: 0.3125rem; }

.mr-2xs { margin-right: 0.3125rem; }

.bgc-primary { background-color: var(--clr-primary-100); }
.bgc-secondary { background-color: var(--clr-secondary); }
.bgc-accent { background-color: var(--clr-accent); }
.bgc-light { background-color: var(--clr-white-200); }
.bgc-dark { background-color: var(--clr-dark); }
.bgc-gray { background-color: var(--clr-gray-200); }
.bgc-lightest { background-color: var(--clr-white-100); }

.clr-primary { color: var(--clr-primary-100); }
.clr-secondary { color: var(--clr-secondary); }
.clr-accent { color: var(--clr-accent); }
.clr-light { color: var(--clr-white-100); }
.clr-dark { color: var(--clr-dark); }
.clr-gray { color: #999999; }

.effect-primary, .effect-secondary, .effect-accent, .effect-light, .effect-dark { transition: all 200ms ease-in; }
.effect-primary:hover, .effect-primary:focus-visible { color: var(--clr-primary-100); }
.effect-secondary:hover, .effect-secondary:focus-visible { color: var(--clr-secondary); }
.effect-accent:hover, .effect-accent:focus-visible { color: var(--clr-accent); }
.effect-light:hover, .effect-light:focus-visible { color: var(--clr-white-100); }
.effect-dark:hover, .effect-dark:focus-visible { color: var(--clr-dark); }

.text-left { text-align: left; }

.text-semi-bold { font-weight: var(--fw-semi-bold); }
.text-bold { font-weight: var(--fw-bold); }

.text-xs { font-size: var(--fs-xs); }
.text-sm { font-size: var(--fs-sm); }
.text-lg { font-size: var(--fs-h6); }
.text-display { font-size: var(--fs-display); }

.text-wrap-initial { text-wrap: initial; }

.uppercase { text-transform: uppercase; }
.italic { font-style: italic; }

.line-height-body { line-height: 1.5; }

.opacity-40 { opacity: 40%; }

.shadow-sm { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }
.shadow { box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1); z-index: 1; }
.shadow-lg { box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.1); z-index: 1; }

.border { border: 1px solid var(--clr-border); }
.br-sm { border-radius: 0.215em; }
.br-lg { border-radius: 100vw; }

.icon-border {
    &:first-of-type {
        border-left: 1px solid var(--clr-border-light);
    }

    border-right: 1px solid var(--clr-border-light);
}

/* General styling */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-style: normal;
    color: var(--clr-body);
    background-color: var(--clr-background);
}

a {
    color: var(--clr-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    color: var(--clr-heading);
}

.primary-heading {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.secondary-heading {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.tertiary-heading {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.quaternary-heading {
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}

.quinary-heading {
    font-size: var(--fs-h5);
    font-weight: var(--fw-semi-bold);
}

.senary-heading {
    font-size: var(--fs-h6);
    font-weight: var(--fw-semi-bold);
}

/* Structure & Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-grid, .full-width, .umb-block-list {
    --max-width: var(--content-max-width);
    --padding-inline: 5%;

    display: grid;
    grid-template-columns: [full-width-start] 1fr [content-start] calc(min(var(--max-width), 100% - var(--padding-inline) * 2) / 2) [middle] calc(min(var(--max-width), 100% - var(--padding-inline) * 2) / 2) [content-end] 1fr [full-width-end];

    > * {
        grid-column: content;
    }

    .full-width {
        grid-column: full-width;
    }

    .full-width-left {
        @media (min-width: 768px) {
            grid-column: full-width-start / middle;
        }
    }

    .full-width-right {
        @media (min-width: 768px) {
            grid-column: middle / full-width-end;
        }
    }

    .left {
        @media (min-width: 768px) {
            grid-column: content-start / middle;
        }
    }

    .right {
        @media (min-width: 768px) {
            grid-column: middle / content-end;
        }
    }
}

.item-grid {
    --min-item-width: 280px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-item-width)), 1fr));

    &.min-item-width-lg {
        --min-item-width: 400px;
    }
}

/* Components */
.current a, .active { color: var(--clr-secondary); }

.btn {
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    border-radius: 0.17em;
    padding: 0.83em 2.22em;
}

.btn.primary {
    background-color: var(--clr-primary-100);
    color: var(--clr-accent);
    transition: all 200ms ease-in;

    &:hover, &:focus-visible {
        background-color: var(--clr-border-light);
    }
}

.btn.accent {
    background-color: var(--clr-accent);
    color: var(--clr-primary-100);
    transition: all 200ms ease-in;

    &:hover, &:focus-visible {
        background-color: var(--clr-secondary);
    }
}

.form {
    div {
        width: 100%;
    }

    input, select, textarea {
        border: 1px solid var(--clr-border);
        padding: 1rem 1.375rem;
        font-size: var(--fs-xs);
        width: 100%;
    }

    input, input::placeholder, textarea, textarea::placeholder {
        color: var(--clr-gray-300);
        font-style: italic;
    }

    textarea {
        resize: none;
    }
}

main:has(.-bottom-md) + footer {
    margin-top: 159px !important;
}

section:has(.-bottom-md) + section {
    @media (min-width: 1200px) {
        padding-top: 159px !important;
    }
}

main:has(.-bottom-lg) + footer {
    margin-top: 260px !important;
}

section:has(.-bottom-lg) + section {
    padding-top: 260px !important;
}

main + footer.reset-margin {
    margin-top: 0 !important;
}

.sidebar > .umb-block-list {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
}

.divider-vertical {
    width: 1px;
    height: 100%;
    background-color: var(--clr-border);
}

.divider-horizontal {
    height: 1px;
    width: 100%;
    background-color: var(--clr-border);
}

.border-bottom-list > :not(:last-child) {
    border-bottom: 1px solid var(--clr-border);
    padding-bottom: 1.5625rem;
}

.border-bottom-list > :not(:first-child) {
    padding-top: 1.5625rem;
}

.border-bottom-list.small-gap > :not(:last-child) {
    padding-bottom: 0.875rem;
}

.border-bottom-list.small-gap > :not(:first-child) {
    padding-top: 0.875rem;
}

.rte {
    > :first-child, > :first-child img {
        margin-top: 0;
    }

    img {
        width: 100%;
        margin-top: 1.25rem;
    }

    h2, h3 {
        color: var(--clr-primary-100);
        margin-top: 1.875rem;
        margin-bottom: 1.125rem;
    }

    p {
        margin-bottom: 0.625rem;
    }   
}

.mobile-menu {
    @media (max-width: 991px) {
        display: flex;
        justify-content: center;
        position: fixed;
        left: unset;
        transform: unset;
        right: 0;
        top: 0;
        height: 100%;
        width: 40vw;
        z-index: 999;
        background-color: var(--clr-white-100);
        padding-block: var(--space-xl);
        border-left: 1px solid var(--clr-border);
    
        ul {
            gap: 0;
        }

        ul, li, a {
            width: 100%;
        }

        a {
            display: block;
            text-align: center;
            padding-block: var(--space-sm);
        }

        .close-mobile-menu-btn {
            position: fixed;
            top: var(--space-md);
            right: var(--space-sm);
        }

        + .btn-search {
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 999;
        }
    }
}

.bg-image {
    background-image: url('/images/dot.svg');
    background-repeat: no-repeat;
    background-position: right bottom;

    @media (min-width: 768px) {
        background-position: right 16px bottom;
    }

    @media (min-width: 992px) {
        background-image: url('/images/bg.svg'), url('/images/dot.svg');
        background-position: left bottom, right 64px bottom 6px;
    }
}
