<?xml version="1.0" encoding="utf-8"?>
<Content Key="42e11791-daee-4196-895c-16f9b95d60f3" Alias="About" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-31T13:04:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b24613c6-7a60-4e40-bdee-c79b941658e5">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "15de2c5b-21c5-48d4-aef8-217200b2bf08",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c88385f-0519-4c34-bc3a-a03ef173d3d5",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "5f4d9401-db14-4644-b28b-6e6eccffb95d",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "15de2c5b-21c5-48d4-aef8-217200b2bf08",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "15de2c5b-21c5-48d4-aef8-217200b2bf08",
        "contentUdi": null,
        "settingsKey": "5f4d9401-db14-4644-b28b-6e6eccffb95d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>