<?xml version="1.0" encoding="utf-8"?>
<Content Key="42e11791-daee-4196-895c-16f9b95d60f3" Alias="About" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-31T13:04:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b24613c6-7a60-4e40-bdee-c79b941658e5">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>