<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9bc53f9-c606-4f31-a448-2b73f25e3e8a" Alias="Annual Report for Juva Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:37:26</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </pageTitle>
    <projectDetailDate>
      <Value><![CDATA[2024-06-15T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "05952666-95b3-45c5-92b5-910c48abc2ec",
    "mediaKey": "6243586a-da15-4235-9e19-ad0990f5eb13",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>