<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a8d2f62-cc98-4b95-87a8-2f08d62e03b5" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="4ca1e1ac-ed45-4659-a04f-9cb129afc039">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-07T13:01:04</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e110be6-9297-4cfe-bb39-a50e769376b4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "838f8b21-71c3-41dc-b86a-bd531aa21000",
      "key": "90213516-e8c2-4e98-8c5f-5433a952f2f6",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "71dcedc5-773c-474c-a361-7d52ca0a0f85",
              "mediaKey": "8413ea32-e9c9-4789-a819-c3c00bd53136",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    },
    {
      "contentTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f",
      "key": "3cd121d4-601b-4a3a-ae9c-7a55f97e401b",
      "udi": null,
      "values": [
        {
          "alias": "supportTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "90213516-e8c2-4e98-8c5f-5433a952f2f6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3cd121d4-601b-4a3a-ae9c-7a55f97e401b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "90213516-e8c2-4e98-8c5f-5433a952f2f6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3cd121d4-601b-4a3a-ae9c-7a55f97e401b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c0d51544-7347-4aaf-ab96-867ab1affe7a",
    "mediaKey": "20b55c47-c229-4c7f-876e-50c50ff1df79",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>