<?xml version="1.0" encoding="utf-8"?>
<Content Key="94da7f89-70c8-4f0b-8641-05a89f89590c" Alias="Budget Planning for Buccura Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:33:45</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </pageTitle>
    <projectDetailDate>
      <Value><![CDATA[2024-01-03T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "63d7e92e-f000-4acd-a2c2-8d80ac984f77",
    "mediaKey": "3edc1acb-b273-4eac-a79e-96dd56873b88",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>