<?xml version="1.0" encoding="utf-8"?>
<Content Key="94da7f89-70c8-4f0b-8641-05a89f89590c" Alias="Budget Planning for Buccura Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:33:45</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </pageTitle>
    <projectDetailAdditionalSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "fc7ad7b6-560d-4f39-bd55-341b713aa972",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "763004ed-1ae1-46d9-89c9-4ac233d2f512",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "3aaf2d84-497c-45aa-8e71-55b017d5c7f5",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fc7ad7b6-560d-4f39-bd55-341b713aa972",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fc7ad7b6-560d-4f39-bd55-341b713aa972",
        "contentUdi": null,
        "settingsKey": "3aaf2d84-497c-45aa-8e71-55b017d5c7f5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAdditionalSections>
    <projectDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e8a4f85b-ca4c-464d-b99a-ac97a27edb44",
      "key": "4ffabd55-725e-47bc-a1ce-c3a4d4446d56",
      "udi": null,
      "values": [
        {
          "alias": "recentTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent projects"
        }
      ]
    },
    {
      "contentTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f",
      "key": "57fecb4c-38c0-4ac1-8649-342c4588bb83",
      "udi": null,
      "values": [
        {
          "alias": "supportTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    },
    {
      "contentTypeKey": "5500c658-c70b-41cb-b38a-bcdfc80c874c",
      "key": "8117842d-225b-49f1-a875-7fb3348c4bed",
      "udi": null,
      "values": [
        {
          "alias": "tagTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tags"
        },
        {
          "alias": "tagList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "fed87c97-9311-497f-bf89-60331533d8bf",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business plans"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "29c97807-2617-490d-a67f-fbd6e913df67",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "90a2d967-b6e8-4c49-a581-4096b2515279",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Finance"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "8f3854e1-e69d-4dad-9bb6-68db014df1d0",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Pricing"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fed87c97-9311-497f-bf89-60331533d8bf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "29c97807-2617-490d-a67f-fbd6e913df67",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "90a2d967-b6e8-4c49-a581-4096b2515279",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8f3854e1-e69d-4dad-9bb6-68db014df1d0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fed87c97-9311-497f-bf89-60331533d8bf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "29c97807-2617-490d-a67f-fbd6e913df67",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "90a2d967-b6e8-4c49-a581-4096b2515279",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8f3854e1-e69d-4dad-9bb6-68db014df1d0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4ffabd55-725e-47bc-a1ce-c3a4d4446d56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "57fecb4c-38c0-4ac1-8649-342c4588bb83",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8117842d-225b-49f1-a875-7fb3348c4bed",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4ffabd55-725e-47bc-a1ce-c3a4d4446d56",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8117842d-225b-49f1-a875-7fb3348c4bed",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "57fecb4c-38c0-4ac1-8649-342c4588bb83",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAsides>
    <projectDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022Woman and man standing by whiteboard and informing a man and woman\u0022 width=\u0022500\u0022 height=\u0022270\u0022 data-udi=\u0022umb://media/3edc1acbb2734eaca79e96dd56873b88\u0022\u003E\u003C/p\u003E"
}]]></Value>
    </projectDetailBody>
    <projectDetailDate>
      <Value><![CDATA[2024-01-03T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "63d7e92e-f000-4acd-a2c2-8d80ac984f77",
    "mediaKey": "3edc1acb-b273-4eac-a79e-96dd56873b88",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>