<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbcc313f-2902-4772-8f8b-234c39ae7f02" Alias="Business Insights for SP Group Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:36:16</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </pageTitle>
    <projectDetailAdditionalSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "01406eed-16ab-46fe-b988-857e655e5cb7",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "04e6c145-ec12-48f5-b0be-8c348a4bced3",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "fed7fc55-8ada-4a9c-a537-81ee2d1591b6",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "01406eed-16ab-46fe-b988-857e655e5cb7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "01406eed-16ab-46fe-b988-857e655e5cb7",
        "contentUdi": null,
        "settingsKey": "fed7fc55-8ada-4a9c-a537-81ee2d1591b6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAdditionalSections>
    <projectDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e8a4f85b-ca4c-464d-b99a-ac97a27edb44",
      "key": "20c8766c-5593-441c-bfad-964168dd4f7a",
      "udi": null,
      "values": [
        {
          "alias": "recentTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent projects"
        }
      ]
    },
    {
      "contentTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f",
      "key": "facb7824-43aa-41cb-8231-97d3761d96ce",
      "udi": null,
      "values": [
        {
          "alias": "supportTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    },
    {
      "contentTypeKey": "5500c658-c70b-41cb-b38a-bcdfc80c874c",
      "key": "69b9a1e2-7a01-42e4-83af-9d1bf4ab8b27",
      "udi": null,
      "values": [
        {
          "alias": "tagTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tags"
        },
        {
          "alias": "tagList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "86011445-8580-48bf-99fe-b3f0f666ebde",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Insights"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "e19c35df-f5c2-42c0-9045-bd7dbf5a9275",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "08a6f21d-0aa5-4c82-896c-b13d75c38bc1",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "86011445-8580-48bf-99fe-b3f0f666ebde",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e19c35df-f5c2-42c0-9045-bd7dbf5a9275",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "08a6f21d-0aa5-4c82-896c-b13d75c38bc1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "86011445-8580-48bf-99fe-b3f0f666ebde",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e19c35df-f5c2-42c0-9045-bd7dbf5a9275",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "08a6f21d-0aa5-4c82-896c-b13d75c38bc1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "20c8766c-5593-441c-bfad-964168dd4f7a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "facb7824-43aa-41cb-8231-97d3761d96ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69b9a1e2-7a01-42e4-83af-9d1bf4ab8b27",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "20c8766c-5593-441c-bfad-964168dd4f7a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "69b9a1e2-7a01-42e4-83af-9d1bf4ab8b27",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "facb7824-43aa-41cb-8231-97d3761d96ce",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAsides>
    <projectDetailDate>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bc275254-47eb-448c-be3e-3761c5d69f0b",
    "mediaKey": "d9d0095b-c982-4f14-b4db-a04568d67c31",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>