<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbcc313f-2902-4772-8f8b-234c39ae7f02" Alias="Business Insights for SP Group Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:36:16</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </pageTitle>
    <projectDetailDate>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bc275254-47eb-448c-be3e-3761c5d69f0b",
    "mediaKey": "d9d0095b-c982-4f14-b4db-a04568d67c31",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>