<?xml version="1.0" encoding="utf-8"?>
<Content Key="3278701e-a72a-4603-b027-9d2e9bb0f9a6" Alias="Contact" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-31T13:05:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b466939-505b-45a5-b195-af3cfb7f59aa">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>