<?xml version="1.0" encoding="utf-8"?>
<Content Key="3278701e-a72a-4603-b027-9d2e9bb0f9a6" Alias="Contact" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-31T13:05:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b466939-505b-45a5-b195-af3cfb7f59aa">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "428a0c4c-5a1d-4dc0-927b-bd3f53821581",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c08d4f27-ba89-4b88-b6c0-6af0cfb85de1",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "e5466e9a-2e93-4af5-b1a9-22fc81fb8d2f",
      "key": "d982675c-3583-4d39-add6-ad3783973994",
      "udi": null,
      "values": [
        {
          "alias": "companies",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "340f9505-813a-451a-8d77-dc6990f952f0",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c6e53516-4817-4039-b1b7-948aa511546e",
                        "mediaKey": "54dd4205-a52c-47ed-adc5-50d644063832",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "2b5fd4ae-a7d6-4070-a564-b8e616e6dfca",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1642981a-4f80-4efd-9e9e-12a779fdf28c",
                        "mediaKey": "65f3ecd7-33ee-428b-90ca-2a43ce7c69f9",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "092d6382-ac7b-4999-af17-d5f71935c101",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c6402d21-2d91-4524-bb20-2d348a6f07a9",
                        "mediaKey": "3f3c911f-45c8-4f9b-b673-6808b1ce309e",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "b0cfbc54-39d1-43ec-8185-b14a4ef1b62b",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "edcbc166-f8c2-4fde-ab90-e866496996e5",
                        "mediaKey": "253e06ef-c47d-4eef-b372-3a4e2681c007",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "0f8a6f35-5c25-4dc4-ba66-6b2d0448537a",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "beb225bf-7792-4ee0-bb6e-1705475c5008",
                        "mediaKey": "1c7c5f27-e689-4333-9dd9-4cd896408bb6",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "ef9705aa-9ac9-4201-b217-f2f111ea4a3a",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6a96a9d9-0ffa-4390-8a8d-7bf717a059e5",
                        "mediaKey": "39bb3030-b250-4de3-aafe-5e21b3aa5b60",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "340f9505-813a-451a-8d77-dc6990f952f0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2b5fd4ae-a7d6-4070-a564-b8e616e6dfca",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "092d6382-ac7b-4999-af17-d5f71935c101",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b0cfbc54-39d1-43ec-8185-b14a4ef1b62b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0f8a6f35-5c25-4dc4-ba66-6b2d0448537a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ef9705aa-9ac9-4201-b217-f2f111ea4a3a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "340f9505-813a-451a-8d77-dc6990f952f0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2b5fd4ae-a7d6-4070-a564-b8e616e6dfca",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "092d6382-ac7b-4999-af17-d5f71935c101",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b0cfbc54-39d1-43ec-8185-b14a4ef1b62b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0f8a6f35-5c25-4dc4-ba66-6b2d0448537a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ef9705aa-9ac9-4201-b217-f2f111ea4a3a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "794e2aca-8bfd-412f-85cd-97bb945eaa5f",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "428a0c4c-5a1d-4dc0-927b-bd3f53821581",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d982675c-3583-4d39-add6-ad3783973994",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "428a0c4c-5a1d-4dc0-927b-bd3f53821581",
        "contentUdi": null,
        "settingsKey": "794e2aca-8bfd-412f-85cd-97bb945eaa5f",
        "settingsUdi": null
      },
      {
        "contentKey": "d982675c-3583-4d39-add6-ad3783973994",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>