<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a81ae56-6ede-4700-8705-62fbd72476b7" Alias="Financial Advisors to Irra Corp Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsToIrraCorpInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:35:02</CreateDate>
    <NodeName Default="Financial Advisors to Irra Corp Inc." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </pageTitle>
    <projectDetailAdditionalSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "74e337e7-0cc3-4431-aca6-6d55668d0c92",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "615c0d11-c32e-4466-bd33-38857c9f6cf4",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
        "contentUdi": null,
        "settingsKey": "615c0d11-c32e-4466-bd33-38857c9f6cf4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAdditionalSections>
    <projectDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e8a4f85b-ca4c-464d-b99a-ac97a27edb44",
      "key": "2fd48f97-f143-4b6f-ba7b-94c09d53d857",
      "udi": null,
      "values": [
        {
          "alias": "recentTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent projects"
        }
      ]
    },
    {
      "contentTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f",
      "key": "7b537132-f493-49fe-af8d-f233f078281b",
      "udi": null,
      "values": [
        {
          "alias": "supportTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    },
    {
      "contentTypeKey": "5500c658-c70b-41cb-b38a-bcdfc80c874c",
      "key": "7e190c70-99c3-4b10-81c4-4727347e6ce2",
      "udi": null,
      "values": [
        {
          "alias": "tagTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tags"
        },
        {
          "alias": "tagList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "7d5ce91b-2135-4f52-851b-ad2d7c2f7ff3",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "31dc8a49-407a-46c8-8ff0-8a082821adc6",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Finance"
                  }
                ]
              },
              {
                "contentTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
                "key": "c61463d5-9feb-496a-b31e-9b134b88da59",
                "udi": null,
                "values": [
                  {
                    "alias": "tagName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business plans"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7d5ce91b-2135-4f52-851b-ad2d7c2f7ff3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "31dc8a49-407a-46c8-8ff0-8a082821adc6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c61463d5-9feb-496a-b31e-9b134b88da59",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c61463d5-9feb-496a-b31e-9b134b88da59",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7d5ce91b-2135-4f52-851b-ad2d7c2f7ff3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "31dc8a49-407a-46c8-8ff0-8a082821adc6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2fd48f97-f143-4b6f-ba7b-94c09d53d857",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b537132-f493-49fe-af8d-f233f078281b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e190c70-99c3-4b10-81c4-4727347e6ce2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2fd48f97-f143-4b6f-ba7b-94c09d53d857",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e190c70-99c3-4b10-81c4-4727347e6ce2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7b537132-f493-49fe-af8d-f233f078281b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAsides>
    <projectDetailDate>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "dd76d55a-479b-4bb2-af1d-a6dcc9fbcc73",
    "mediaKey": "92299810-ccb9-4bcf-9661-9ab5dd5f5c66",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>