<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a81ae56-6ede-4700-8705-62fbd72476b7" Alias="Financial Advisors to Irra Corp Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsToIrraCorpInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:35:02</CreateDate>
    <NodeName Default="Financial Advisors to Irra Corp Inc." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </pageTitle>
    <projectDetailDate>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "dd76d55a-479b-4bb2-af1d-a6dcc9fbcc73",
    "mediaKey": "92299810-ccb9-4bcf-9661-9ab5dd5f5c66",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>