<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a81ae56-6ede-4700-8705-62fbd72476b7" Alias="Financial Advisors to Irra Corp Inc." Level="3">
  <Info>
    <Parent Key="6d6b641a-7343-4c08-9a21-364ab02967df">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsToIrraCorpInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-10T20:35:02</CreateDate>
    <NodeName Default="Financial Advisors to Irra Corp Inc." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97952304-fb0a-40d3-bddf-0333ecb6daa4">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </pageTitle>
    <projectDetailAdditionalSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "74e337e7-0cc3-4431-aca6-6d55668d0c92",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "615c0d11-c32e-4466-bd33-38857c9f6cf4",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "129051fb-bb4b-48f4-9e7e-bbd2b52d5bf0",
        "contentUdi": null,
        "settingsKey": "615c0d11-c32e-4466-bd33-38857c9f6cf4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAdditionalSections>
    <projectDetailDate>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </projectDetailDate>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "dd76d55a-479b-4bb2-af1d-a6dcc9fbcc73",
    "mediaKey": "92299810-ccb9-4bcf-9661-9ab5dd5f5c66",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>