<?xml version="1.0" encoding="utf-8"?>
<Content Key="48e90978-b8a7-4c1a-8150-f242ec48146a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-30T20:36:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="533bd5d9-2c32-4943-8ce0-bf54ae99a856">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "16a4c217-6bdd-42dd-aded-06db56636ca3",
      "key": "e044efe4-cc13-40b4-834c-4979b91ccda8",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 16px; white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/3278701ea72a4603b0279d2e9bb0f9a6",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4572cf0-188a-4ce5-88e1-272003f72053",
              "mediaKey": "0201a48e-c6f4-4900-ba28-dac41a86ce40",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "738e15c4-e324-433c-8906-266b859c8fd9",
      "key": "85575254-1ae4-40c0-a58e-39284e3bf69d",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutCallbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutCallbackQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have over 25 years of experience providing expert financial advice to both businesses and individuals."
        },
        {
          "alias": "aboutCallbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "aboutCallbackSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "56f3aa42-9262-4293-8d1a-19af9af0329a",
              "mediaKey": "df9bdfd5-4bd8-4a8c-981a-15fd6be71f33",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutCallbackName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox"
        },
        {
          "alias": "aboutCallbackRole",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CEO \u0026 Founder"
        },
        {
          "alias": "aboutCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "aboutCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "8fa270f7-77fc-4355-8c1a-f7e04248066a",
      "key": "cbc39a10-e714-4620-b729-ec9cdda830ec",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        }
      ]
    },
    {
      "contentTypeKey": "1cfe7cc4-0b0d-4d58-b8ea-7a149e8f2e67",
      "key": "be06d44e-3818-49b1-9c15-51f91f5f76c8",
      "udi": null,
      "values": [
        {
          "alias": "testimonialTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022secondary-heading\u0022\u003EWe are trusted by more than\u003Cbr\u003E\u003Cspan style=\u0022color: rgb(217, 195, 169);\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "testimonialText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "testimonialLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/42e11791daee4196895c16f9b95d60f3",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "testimonialBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f74a1816-9fa5-4314-ad19-6e446c65f622",
              "mediaKey": "2f80b41b-d1e5-4851-a7a5-563fe38c02b3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "testimonialImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cd4d85a7-b9d8-4de9-842e-f051e8aaa489",
              "mediaKey": "f151e45f-3e98-4153-8a34-4f3c899d7202",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dad6515e-4d26-45fe-9117-3d635d638e9e",
      "key": "8134e178-954f-4cba-b256-98bda7f05da5",
      "udi": null,
      "values": [
        {
          "alias": "storyLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        },
        {
          "alias": "storyTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "storyBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "97fb14a6-bfd3-4c0a-ac3a-504537600a43",
              "mediaKey": "d356e3b4-d8ce-4948-bd7c-1edfdfc057c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4fa6fd3c-b0cd-4cc3-bd4b-160c4883a686",
              "mediaKey": "00f72980-3d73-4487-a8c6-313e25057542",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyNumberOfCustomers",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "storyNumberOfProjects",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "storyNumberOfBranches",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        }
      ]
    },
    {
      "contentTypeKey": "e5466e9a-2e93-4af5-b1a9-22fc81fb8d2f",
      "key": "4f437413-ea13-4442-9157-231ee881b1e8",
      "udi": null,
      "values": [
        {
          "alias": "companies",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "8f9422b7-a72d-4f92-914f-195eef8249a7",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "23a04874-463b-4f58-b31f-443a970f7bbd",
                        "mediaKey": "54dd4205-a52c-47ed-adc5-50d644063832",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "55255dcf-a3a8-4781-a427-e3a322d76f9e",
                "udi": null,
                "values": [
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d5e5b208-fa2f-4dd9-9c3c-b593208a3ab0",
                        "mediaKey": "65f3ecd7-33ee-428b-90ca-2a43ce7c69f9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "0ccfec4a-a89c-413e-949f-8d871b60be74",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "da6f99c9-385f-418a-9bb6-53404ba02cb1",
                        "mediaKey": "3f3c911f-45c8-4f9b-b673-6808b1ce309e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "8e6db127-7bcc-431c-b574-2c2645d7244a",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c3b3bac5-57e0-4de4-bfa2-4cc0dfc82dc9",
                        "mediaKey": "253e06ef-c47d-4eef-b372-3a4e2681c007",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "def958c5-bfa7-4288-a5ce-23b2b37444bc",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "37829973-df28-4004-a57f-262d445fd695",
                        "mediaKey": "1c7c5f27-e689-4333-9dd9-4cd896408bb6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
                "key": "f440e1e2-7955-4e77-af28-1fa53271cd47",
                "udi": null,
                "values": [
                  {
                    "alias": "companyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "companyLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0acd6b74-a3a0-4090-84ab-3bbc3fd9c61c",
                        "mediaKey": "39bb3030-b250-4de3-aafe-5e21b3aa5b60",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8f9422b7-a72d-4f92-914f-195eef8249a7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "55255dcf-a3a8-4781-a427-e3a322d76f9e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0ccfec4a-a89c-413e-949f-8d871b60be74",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8e6db127-7bcc-431c-b574-2c2645d7244a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "def958c5-bfa7-4288-a5ce-23b2b37444bc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f440e1e2-7955-4e77-af28-1fa53271cd47",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8f9422b7-a72d-4f92-914f-195eef8249a7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "55255dcf-a3a8-4781-a427-e3a322d76f9e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0ccfec4a-a89c-413e-949f-8d871b60be74",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8e6db127-7bcc-431c-b574-2c2645d7244a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "def958c5-bfa7-4288-a5ce-23b2b37444bc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f440e1e2-7955-4e77-af28-1fa53271cd47",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6a6ccc28-ef10-420d-99cd-c4f3b5970dca",
      "key": "ccf53057-76a9-484c-a256-0091c7695310",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e044efe4-cc13-40b4-834c-4979b91ccda8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85575254-1ae4-40c0-a58e-39284e3bf69d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbc39a10-e714-4620-b729-ec9cdda830ec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be06d44e-3818-49b1-9c15-51f91f5f76c8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8134e178-954f-4cba-b256-98bda7f05da5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f437413-ea13-4442-9157-231ee881b1e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e044efe4-cc13-40b4-834c-4979b91ccda8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "85575254-1ae4-40c0-a58e-39284e3bf69d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cbc39a10-e714-4620-b729-ec9cdda830ec",
        "contentUdi": null,
        "settingsKey": "ccf53057-76a9-484c-a256-0091c7695310",
        "settingsUdi": null
      },
      {
        "contentKey": "be06d44e-3818-49b1-9c15-51f91f5f76c8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8134e178-954f-4cba-b256-98bda7f05da5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4f437413-ea13-4442-9157-231ee881b1e8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>