<?xml version="1.0" encoding="utf-8"?>
<Content Key="48e90978-b8a7-4c1a-8150-f242ec48146a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-30T20:36:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="533bd5d9-2c32-4943-8ce0-bf54ae99a856">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "16a4c217-6bdd-42dd-aded-06db56636ca3",
      "key": "e044efe4-cc13-40b4-834c-4979b91ccda8",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 16px; white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/3278701ea72a4603b0279d2e9bb0f9a6",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4572cf0-188a-4ce5-88e1-272003f72053",
              "mediaKey": "0201a48e-c6f4-4900-ba28-dac41a86ce40",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "738e15c4-e324-433c-8906-266b859c8fd9",
      "key": "85575254-1ae4-40c0-a58e-39284e3bf69d",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutCallbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutCallbackQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have over 25 years of experience providing expert financial advice to both businesses and individuals."
        },
        {
          "alias": "aboutCallbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "aboutCallbackSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "56f3aa42-9262-4293-8d1a-19af9af0329a",
              "mediaKey": "df9bdfd5-4bd8-4a8c-981a-15fd6be71f33",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutCallbackName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox"
        },
        {
          "alias": "aboutCallbackRole",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CEO \u0026 Founder"
        },
        {
          "alias": "aboutCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "aboutCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "8fa270f7-77fc-4355-8c1a-f7e04248066a",
      "key": "cbc39a10-e714-4620-b729-ec9cdda830ec",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6a6ccc28-ef10-420d-99cd-c4f3b5970dca",
      "key": "ccf53057-76a9-484c-a256-0091c7695310",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e044efe4-cc13-40b4-834c-4979b91ccda8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85575254-1ae4-40c0-a58e-39284e3bf69d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbc39a10-e714-4620-b729-ec9cdda830ec",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e044efe4-cc13-40b4-834c-4979b91ccda8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "85575254-1ae4-40c0-a58e-39284e3bf69d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cbc39a10-e714-4620-b729-ec9cdda830ec",
        "contentUdi": null,
        "settingsKey": "ccf53057-76a9-484c-a256-0091c7695310",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>