<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d6b641a-7343-4c08-9a21-364ab02967df" Alias="Projects" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-10-31T13:05:07</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b523b290-4f20-4b99-a576-9c4ecd6e1ab0">ProjectPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>