<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ca1e1ac-ed45-4659-a04f-9cb129afc039" Alias="Services" Level="2">
  <Info>
    <Parent Key="48e90978-b8a7-4c1a-8150-f242ec48146a">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-31T13:04:51</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b5a3f937-99fe-44de-9ea1-8175c2084094">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8fa270f7-77fc-4355-8c1a-f7e04248066a",
      "key": "308aadd6-303e-4035-8801-73249891c6e7",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        }
      ]
    },
    {
      "contentTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "key": "de96dcf4-77d4-41af-8639-6336af57149b",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a3f022c8-d3b1-40ac-8641-437360b1f5e3",
              "mediaKey": "ec95a490-284d-432a-a410-84480bb66651",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6a6ccc28-ef10-420d-99cd-c4f3b5970dca",
      "key": "d3d2b565-23bb-49ed-af19-aa525937647c",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff",
      "key": "ed207d3e-57eb-4823-9c43-d6bfe70839cb",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "308aadd6-303e-4035-8801-73249891c6e7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de96dcf4-77d4-41af-8639-6336af57149b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "308aadd6-303e-4035-8801-73249891c6e7",
        "contentUdi": null,
        "settingsKey": "d3d2b565-23bb-49ed-af19-aa525937647c",
        "settingsUdi": null
      },
      {
        "contentKey": "de96dcf4-77d4-41af-8639-6336af57149b",
        "contentUdi": null,
        "settingsKey": "ed207d3e-57eb-4823-9c43-d6bfe70839cb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>