<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2399e81-28e4-43fd-9633-9d1f8fa66601" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-30T19:00:50</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "55772f20-030a-4775-aecc-2c5ec5f04ca5",
      "key": "fa35f6cd-650c-434f-b762-2823047db511",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "55772f20-030a-4775-aecc-2c5ec5f04ca5",
      "key": "9d91c2e8-6214-4cd5-873b-bdd53af3ca1b",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "55772f20-030a-4775-aecc-2c5ec5f04ca5",
      "key": "9bdbaea8-5e56-404e-a021-597411cc467d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fa35f6cd-650c-434f-b762-2823047db511",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d91c2e8-6214-4cd5-873b-bdd53af3ca1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9bdbaea8-5e56-404e-a021-597411cc467d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fa35f6cd-650c-434f-b762-2823047db511",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9bdbaea8-5e56-404e-a021-597411cc467d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9d91c2e8-6214-4cd5-873b-bdd53af3ca1b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "5ead5110-4db2-438f-a98e-5d6cc240d4ed",
    "mediaKey": "0914452b-f220-4b61-91c8-a15332ea501e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>