<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f9f499e-83ac-46c4-8ed0-68e7aa60212a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="4ca1e1ac-ed45-4659-a04f-9cb129afc039">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-07T12:58:19</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e110be6-9297-4cfe-bb39-a50e769376b4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "838f8b21-71c3-41dc-b86a-bd531aa21000",
      "key": "387987d8-1765-42a1-b4b1-6fa555183c2b",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "575a807e-c939-4382-ab23-90ddae6db49f",
              "mediaKey": "8413ea32-e9c9-4789-a819-c3c00bd53136",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    },
    {
      "contentTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f",
      "key": "9de1132a-cfb6-494f-8405-b1b9ef1829f0",
      "udi": null,
      "values": [
        {
          "alias": "supportTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "387987d8-1765-42a1-b4b1-6fa555183c2b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9de1132a-cfb6-494f-8405-b1b9ef1829f0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "387987d8-1765-42a1-b4b1-6fa555183c2b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9de1132a-cfb6-494f-8405-b1b9ef1829f0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022Two women with laptops discussing with woman and man\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/8413ea32e9c94789a819c3c00bd53136\u0022\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "21e3a282-e332-4c9f-a956-b11a724f84cf",
    "mediaKey": "8413ea32-e9c9-4789-a819-c3c00bd53136",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>