<?xml version="1.0" encoding="utf-8"?>
<Content Key="c391a080-9616-4be6-8472-895d0bfb11f5" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="4ca1e1ac-ed45-4659-a04f-9cb129afc039">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-07T13:00:05</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e110be6-9297-4cfe-bb39-a50e769376b4">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "a0cbdd92-3126-4ba3-8e3d-d4634d74c23b",
    "mediaKey": "739c391b-5445-443f-a0a1-9033927d63e9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>