<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f3ecd7-33ee-428b-90ca-2a43ce7c69f9" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="c980ec53-4ecd-406c-a665-4043b0c44890">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:22:43</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evifdb5v/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>