<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c7c5f27-e689-4333-9dd9-4cd896408bb6" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="c980ec53-4ecd-406c-a665-4043b0c44890">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:22:43</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xrn35us/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>