<?xml version="1.0" encoding="utf-8"?>
<Media Key="39bb3030-b250-4de3-aafe-5e21b3aa5b60" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="c980ec53-4ecd-406c-a665-4043b0c44890">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:22:43</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykgbtw0l/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>