<?xml version="1.0" encoding="utf-8"?>
<Media Key="0914452b-f220-4b61-91c8-a15332ea501e" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T18:56:20</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1h2ln0z1/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>