<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f80b41b-d1e5-4851-a7a5-563fe38c02b3" Alias="dot-map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T11:20:50</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3eedftp4/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>