<?xml version="1.0" encoding="utf-8"?>
<Media Key="da2a64be-75aa-4cb8-a671-e9dbd906e7b1" Alias="image-47 1.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/image471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:57</CreateDate>
    <NodeName Default="image-47 1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ggxgy1gd/image-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>