<?xml version="1.0" encoding="utf-8"?>
<Media Key="133ad200-ccec-4092-b974-a26c4f0fb20a" Alias="image-106 1.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/image1061jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:57</CreateDate>
    <NodeName Default="image-106 1.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r2mhzjmf/image-106-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>