<?xml version="1.0" encoding="utf-8"?>
<Media Key="739c391b-5445-443f-a0a1-9033927d63e9" Alias="image-22-min 1.jpg" Level="2">
  <Info>
    <Parent Key="a98187bd-53b3-456b-977c-a1c5b1da6106">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T12:57:04</CreateDate>
    <NodeName Default="image-22-min 1.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/stznvrjm/image-22-min-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>