<?xml version="1.0" encoding="utf-8"?>
<Media Key="620cc8b8-2da8-40b4-bce0-48f6173aa54b" Alias="image-13-min 1.jpg" Level="2">
  <Info>
    <Parent Key="a98187bd-53b3-456b-977c-a1c5b1da6106">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T12:57:03</CreateDate>
    <NodeName Default="image-13-min 1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/g2bevvgb/image-13-min-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>