<?xml version="1.0" encoding="utf-8"?>
<Media Key="e04d6dc4-688e-401c-9075-0bfce61150c5" Alias="image-21-min 1.jpg" Level="2">
  <Info>
    <Parent Key="a98187bd-53b3-456b-977c-a1c5b1da6106">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T12:57:03</CreateDate>
    <NodeName Default="image-21-min 1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jotbwvxh/image-21-min-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>