<?xml version="1.0" encoding="utf-8"?>
<Media Key="8413ea32-e9c9-4789-a819-c3c00bd53136" Alias="image-24-min 1.jpg" Level="2">
  <Info>
    <Parent Key="a98187bd-53b3-456b-977c-a1c5b1da6106">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image24Min1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T12:57:03</CreateDate>
    <NodeName Default="image-24-min 1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xuqfkmva/image-24-min-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>