<?xml version="1.0" encoding="utf-8"?>
<Media Key="92dfe2e8-4518-4526-bdf9-6d33449c894a" Alias="image-23-min 1.jpg" Level="2">
  <Info>
    <Parent Key="a98187bd-53b3-456b-977c-a1c5b1da6106">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T12:57:04</CreateDate>
    <NodeName Default="image-23-min 1.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m2ujsjdr/image-23-min-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>