<?xml version="1.0" encoding="utf-8"?>
<Media Key="3be87178-3d80-45a7-80d0-15e6049001e5" Alias="Img-47 1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T13:46:43</CreateDate>
    <NodeName Default="Img-47 1.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/443l3dpj/img-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>