<?xml version="1.0" encoding="utf-8"?>
<Media Key="38c408db-005e-4230-b00d-94d89be9aeec" Alias="Img-4-2 1.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/Img421jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:57</CreateDate>
    <NodeName Default="Img-4-2 1.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ktbifdrx/img-4-2-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>