<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec95a490-284d-432a-a410-84480bb66651" Alias="Img-5-e1695109900349 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T18:33:58</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d3xngwre/img-5-e1695109900349-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>