<?xml version="1.0" encoding="utf-8"?>
<Media Key="741b673d-57f1-400a-bb86-b7af34641d81" Alias="img_choose_01_home01 2.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/img_choose_01_home012jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:57</CreateDate>
    <NodeName Default="img_choose_01_home01 2.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wkwf1quy/img_choose_01_home01-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>