<?xml version="1.0" encoding="utf-8"?>
<Media Key="361165aa-5e64-423e-97e5-ca1d8e7dbe98" Alias="img_choose_01_home01 1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T17:52:43</CreateDate>
    <NodeName Default="img_choose_01_home01 1.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ewxfpaan/img_choose_01_home01-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>