<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a34e814-667d-49d7-a86c-86c94943aa3a" Alias="Kevin-Gardner 1.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:56</CreateDate>
    <NodeName Default="Kevin-Gardner 1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tmrhftau/kevin-gardner-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>