<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fce6e40-236f-422c-a38a-9684579dfeb1" Alias="kevin-gardner.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T18:35:37</CreateDate>
    <NodeName Default="kevin-gardner.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/z4sirgig/kevin-gardner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>