<?xml version="1.0" encoding="utf-8"?>
<Media Key="873e6d80-bf48-40a5-8928-eaeb616ee495" Alias="Mask-Group-8 1.jpg" Level="2">
  <Info>
    <Parent Key="8b7f526f-7ed2-450f-bafc-dad8ff750bbe">Team Members</Parent>
    <Path>/TeamMembers/MaskGroup81jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T20:43:57</CreateDate>
    <NodeName Default="Mask-Group-8 1.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b4thqmjb/mask-group-8-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>