<?xml version="1.0" encoding="utf-8"?>
<Media Key="581a86dc-d652-4629-be20-bf3de3a8c57d" Alias="Project Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T20:31:55</CreateDate>
    <NodeName Default="Project Thumbnails" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>