<?xml version="1.0" encoding="utf-8"?>
<Media Key="a98187bd-53b3-456b-977c-a1c5b1da6106" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T12:55:12</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>