<?xml version="1.0" encoding="utf-8"?>
<Media Key="0201a48e-c6f4-4900-ba28-dac41a86ce40" Alias="sl-home2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T17:41:58</CreateDate>
    <NodeName Default="sl-home2.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/afxepne3/sl-home2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>