<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8904669f-6c95-48dc-8b4d-2d503e922144" Alias="Additional Sections" Level="1">
  <Info>
    <Name>Additional Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a55fcc1c-a0b4-4b4e-b660-e7d961695416"
    },
    {
      "contentElementTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "settingsElementTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff"
    }
  ]
}]]></Config>
</DataType>