<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22883d4e-7887-475b-81e5-c007fb795111" Alias="Companies" Level="1">
  <Info>
    <Name>Companies</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3a620550-3ddd-4268-9f38-a194d4753752",
      "label": "{umbValue: companyName}"
    }
  ]
}]]></Config>
</DataType>