<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfcb0329-4487-4146-b9cd-8f2bae5f9baf" Alias="Sections" Level="1">
  <Info>
    <Name>Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "16a4c217-6bdd-42dd-aded-06db56636ca3"
    },
    {
      "contentElementTypeKey": "738e15c4-e324-433c-8906-266b859c8fd9"
    },
    {
      "contentElementTypeKey": "8fa270f7-77fc-4355-8c1a-f7e04248066a",
      "settingsElementTypeKey": "6a6ccc28-ef10-420d-99cd-c4f3b5970dca"
    },
    {
      "contentElementTypeKey": "1cfe7cc4-0b0d-4d58-b8ea-7a149e8f2e67"
    },
    {
      "contentElementTypeKey": "dad6515e-4d26-45fe-9117-3d635d638e9e"
    },
    {
      "contentElementTypeKey": "e5466e9a-2e93-4af5-b1a9-22fc81fb8d2f"
    },
    {
      "contentElementTypeKey": "142e4ed8-cc5a-48f4-b3f0-88560dd12283",
      "settingsElementTypeKey": "811e3bb7-e354-474b-b7dc-4f63c23b32ff"
    },
    {
      "contentElementTypeKey": "a59a8407-e92d-4bdb-808d-9e658c91c746"
    },
    {
      "contentElementTypeKey": "a84d14ea-11f6-4131-83fc-d601cb52b5cf"
    }
  ]
}]]></Config>
</DataType>