<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b3e1ba8-fdbd-43b7-b8e1-ced584639794" Alias="Service Detail Asides" Level="1">
  <Info>
    <Name>Service Detail Asides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "838f8b21-71c3-41dc-b86a-bd531aa21000"
    },
    {
      "contentElementTypeKey": "a9897146-41e6-41d2-88ef-0a397919c17f"
    }
  ]
}]]></Config>
</DataType>