<?xml version="1.0" encoding="utf-8"?>
<DataType Key="248b16a8-4bac-4b90-bbf2-0eab89f431f0" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "55772f20-030a-4775-aecc-2c5ec5f04ca5",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>