<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f29f300-828b-4e69-9cce-ac321a14fb2a" Alias="Tag List" Level="1">
  <Info>
    <Name>Tag List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "38750aa1-9b9a-492a-a076-912c69538e06",
      "label": "{umbValue: tagName}"
    }
  ]
}]]></Config>
</DataType>