<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb10d510-6fde-46b4-a751-5adc827ced97" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c15e8683-0341-4b6b-b390-79420ce892dd",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>