<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63e5b956-3370-4c6a-98b8-7d52507cc82f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="533bd5d9-2c32-4943-8ce0-bf54ae99a856">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4c18d404-0ba8-42ed-8be9-809f9cc02a70" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="6a0c1884-d8fb-4f04-8b7f-5235e3ff174a" SortOrder="1">servicePage</ContentType>
    <ContentType Key="f171bacd-781d-4de1-87bf-35480f6c1465" SortOrder="2">projectPage</ContentType>
    <ContentType Key="34f4d5c2-fd0e-4208-b3e0-d6490b91945a" SortOrder="3">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b80757d5-4231-4f8f-85e3-b088ae52d8cd</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9bff5ac4-3c40-4002-8076-bfd8b3d968ef</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>