<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f171bacd-781d-4de1-87bf-35480f6c1465" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-briefcase</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b4dd30a1-8785-438e-b485-44c3dd0fa3e6">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b523b290-4f20-4b99-a576-9c4ecd6e1ab0">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b6614fc5-ee46-4a1c-9395-0f8005c4c047" SortOrder="0">projectDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ff01da02-2a28-43ed-b431-82f8f51cae09</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>dfcb0329-4487-4146-b9cd-8f2bae5f9baf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b2612ee5-6e29-4ac5-84ca-c30f7bcf5e28</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>