@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactCallbackSection)Model.Content;
}

<section class="relative full-width bgc-gray">
    <img class="full-width opacity-40 w-100" src="~/images/map.jpg" alt="Map of central Stockholm" />
    <div class="absolute -bottom-md bgc-lightest shadow-lg center-text p-lg w-100">
        <h2 class="clr-secondary uppercase text-bold text-xs">@content.ContactCallbackFormLabel</h2>
        <h3 class="secondary-heading text-wrap-initial mt-xs max-w-50 mi-auto">@content.ContactCallbackFormTitle</h3>
        <p class="text-xs italic mi-auto mt-md">@content.ContactCallbackFormDescription</p>
        <form class="form mt-md">
            <div class="item-grid min-item-width-lg gap-sm">
                <div class="">
                    <label class="visually-hidden" for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="">
                    <label class="visually-hidden" for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" placeholder="Phone" />
                </div>
                <div class="">
                    <label class="visually-hidden" for="email">Email address</label>
                    <input type="email" name="email" id="email" placeholder="Email address" />
                </div>
                <div class="">
                    <label class="visually-hidden" for="guidance">Guidance Type</label>
                    <select name="guidance" id="guidance">
                        <option value="financial consulting">Financial consulting</option>
                    </select>
                </div>
            </div>
            <button class="btn primary mt-sm" type="submit">Submit</button>
        </form>
    </div>
</section>
