@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.QuestionSection)Model.Content;
}

<section class="py-lg">
    <h2 class="quaternary-heading clr-primary center-text-mobile">@content.QuestionTitle</h2>
    <form class="form mt-sm flex col align-start">
        <div class="item-grid min-item-width-lg gap-md">
            <div>
                <label class="visually-hidden" for="name">Name</label>
                <input class="br-sm" type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div>
                <label class="visually-hidden" for="email">Email address</label>
                <input class="br-sm" type="email" name="email" id="email" placeholder="Email address" />
            </div>
        </div>
        <div class="mt-sm">
            <label class="visually-hidden" for="question">Question</label>
            <textarea class="br-sm" name="question" id="question" placeholder="Question" rows="7"></textarea>
        </div>
        <button class="btn primary mt-xs mi-auto-mobile" type="submit">Submit</button>
    </form>
</section>
