@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TagWidget)Model.Content;
    var tags = content.TagList;
}

<div class="flex col gap-sm">
    <h2 class="quinary-heading clr-primary">@content.TagTitle</h2>

    @if (tags != null)
    {
        <ul class="flex flex-wrap gap-sm">
            @foreach (var tag in tags)
            {
                <li><partial name="Partials/Blocklist/Components/Tag" model="tag"></li>
            }
        </ul>
    }
</div>
